:root {
  --header-font-family: "Playfair Display", serif;
  --subheader-font-family: "Poppins", sans-serif;
  --body-text-color: color black;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

body {
  margin: 80px 30px;
}

.page-container {
  /* Trying to figure out footer but it's not working! */
  position: relative;
  min-height: 90vh;
}

.content-wrap {
  /* Footer height */
  padding-bottom: 100px;
}

/* Font families */

h1,
h3 {
  font-family: var(--header-font-family);
}

h2,
p {
  font-family: var(--subheader-font-family);
}

/* Font formatting */

h1 {
  font-optical-sizing: auto;
  font-size: 72px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
}

h2 {
  font-weight: 100;
  font-style: normal;
  margin-left: 5px; /*to bring text in line with the main part of the E*/
  margin-bottom: 50px;
}

h3 {
  font-family: var(--header-font-family);
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
}

p {
  opacity: 0.7;
}

/*HOMEPAGE*/

/*ABOUT ME PAGE*/

.grid {
  /*Layout for bio sections - also used for project descriptions*/
  margin-top: 20px;
  max-width: 80%;
}

.about-subheader {
  /*Header for each bio section*/
  font-family: var(--subheader-font-family);
  font-weight: bold;
}

.about-paragraph {
  /*Paragraph for each bio section - also used for project descriptions*/
  font-family: var(--subheader-font-family);
  font-weight: 300;
}

.about-paragraph p {
  /*Relate to p for project descriptions only*/
  margin: 20px 0;
}

/*PROJECTS PAGE*/

.project-text-containter {
  /*Placeemnt of text alongside image*/
  margin-top: 120px;
}

.project-image {
  box-shadow: var(--box-shadow);
  padding: 80px 80px !important;
  margin: 20px 20px 20px 0 !important;
}

.launch {
  font-weight: normal;
}

/*Contact details on contacts page*/

.contact-details {
  /*This div holds both the icon and the email address and places the items on the page*/
  margin-left: 10px;
  margin-top: 15px;
}

.contact-me {
  /*This is the email address*/
  font-family: var(--subheader-font-family);
  color: black;
  text-decoration: none;
  padding-left: 7px; /*Adding a little space between the icon and the text*/
}

.contact-me:hover {
  /*This is to highlight when the email address is hovered on*/
  text-decoration: underline;
}

/* Formatting for signature */

.signature {
  /* Trying to figure out footer placement but it's not working! */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  padding-top: 20px;
}

.signature p {
  font-size: 12px;
  color: var(--body-text-color);
  opacity: 0.6;
  font-family: monospace;
  text-align: right;
}

@media (max-width: 900px) {
  h1,
  h3 {
    font-size: 36px;
  }
  .project-text-containter {
    /*Placeemnt of text alongside image*/
    margin-top: 20px;
  }
}
