:root {
  --header-font-family: "Playfair Display", serif;
  --subheader-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --primary-color: #dc3444; /* header color */
  --secondary-color: #0c6dfd; /* subheader and link color */
  --tertiary-color: #fef8ea; /* hero/box/home color */
}

.container {
  /* Wraps all content minus navbar - removes margin on bootstrap container styling */
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

/* FONT FAMILIES */

h1,
h3,
h4 {
  font-family: var(--header-font-family);
}

h2,
p {
  font-family: var(--subheader-font-family);
}

/* FONT FORMATTING */

.h1-home {
  /* Homepage header (name) */
  font-size: 130px;
  padding-top: 60px;
}

.h2-home {
  /* Homepage subheader */
  font-size: 54px;
}

h1 {
  /* Headers on Sections */
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  margin-bottom: 10px;
}

h2 {
  /* Subheaders on Sections */
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
}

h3 {
  /* Sub-subheaders on Section */
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding-top: 20px;
}

h4 {
  /* Text in Contact Section */
  font-weight: bold;
  font-style: normal;
  font-size: 28px;
  margin: 0px;
  padding: 0px;
}

.btn h4 {
  /* Text in button on Contact Section */
  font-size: 20px;
}

p {
  /* Formats paragraphs in Sections */
  opacity: 0.7;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}

.project-title {
  /* Formats sub-header on Project Section */
  font-weight: 500;
}

a {
  /* Formats links on About and Projects Sections (logo links in footer have different styling) */
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: underline;
}

/*HOMEPAGE*/

.hero-home {
  /* Formats top header (name) */
  background-color: white;
  padding: 30px 30px 20px 30px;
  text-align: center;
}

/*ALL SECTIONS*/

.hero {
  /* Formats the header for sections */
  padding: 30px;
}

/*ABOUT ME SECTION*/

.about-me-section {
  background-color: var(--tertiary-color);
  margin: 20px 300px;
  border-radius: 4px;
}

/*ME/CAT IMAGES*/

.images {
  display: flex;
}

img {
  /* Formatting images on About Me Section */
  max-width: 25%;
  border-radius: 2px;
  margin: 10px;
}

/*PROJECTS SECTION*/

.projects-section {
  background-color: var(--tertiary-color);
  margin: 20px 300px;
  border-radius: 4px;
}

.project-image-container {
  align-items: center;
}

.project-image {
  /* Formatting of project images */
  box-shadow: var(--box-shadow);
  max-width: 45%;
  display: block;
  margin: 20px auto;
}

.launch {
  /* Formatting of launch text */
  font-weight: bold;
  text-align: center;
}

.git {
  /* Formatting of git text */
  text-align: center;
  margin-bottom: 30px;
}

/* RESUME SECTION */

.resume-section {
  background-color: white;
  padding-bottom: 50px;
  margin: 20px 300px;
  border-radius: 4px;
}

.link-pdf {
  background-color: white;
  padding-bottom: 50px;
  margin: 20px 300px;
  border-radius: 4px;
}

/* CONTACT SECTION */

.contact-section {
  background-color: var(--tertiary-color);
  margin: 20px 300px;
  border-radius: 4px;
}

.contact-box {
  /* Formats the contact box */
  padding: 40px;
  margin-top: 40px;
  justify-content: center;
}

.btn {
  /* Formats the contact button */
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 3px;
  background-color: black;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  text-decoration: none;
}

/* FOOTER/SIGNATURE SECTION */

footer {
  /* Placement of signature */
  text-align: center;
}

.signature p {
  /* Formatting signature text */
  font-size: 12px;
  color: black;
  opacity: 0.6;
  font-family: monospace;
  margin-top: 30px;
  margin-bottom: 20px;
}

.logo {
  /* Formatting LinkedIn and Git logo */
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: 30px;
  color: black;
}

.logo-link:hover {
  text-decoration: none;
}

/* Formatting for smaller screens */

@media (max-width: 900px) {
  .h1-home {
    font-size: 50px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .hero {
    padding: 10px;
  }
  .hero-home {
    padding: 20px 20px 10px 20px;
  }
  .hero-home h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-me-section {
    margin: 10px;
  }
  img {
    max-width: 65%;
  }
  .projects-section {
    margin: 10px;
    margin-bottom: 0;
  }
  .project-image {
    max-width: 65%;
  }
  .git {
    margin-bottom: 20px;
  }
  .resume-section {
    margin: 10px;
    margin-top: 0;
    padding-bottom: 10px;
  }
  .link-pdf {
    margin: 10px;
    padding-bottom: 10px;
  }
  .contact-section {
    margin: 10px;
  }
  .contact-box {
    margin: 0;
  }
}
